.navbar a{
    margin-left: 40px;
}

.navbar-nav{
    margin: 0 auto;
    padding: 0;
}

.navbar-nav li a{
    color: black !important;
}

.navbar-nav li a:hover{
    color: aqua !important;
    transition: 0.4s ease-in-out;
}


.Gallery{
    background: url("images/markus-spiske-6dY9cFY-qTo-unsplash.jpg");
    background-position:center;
    background-size:contain;
    justify-content: center;
    text-align: center;
    height: 15vh;
    color: #fff;
    padding-top:75px;
}

.gallery-section{
    width:60%;
    margin: 0 auto;
    margin-top: 60px; 
}

.gallery-images img{
    width: 470px;
}

.gallery-images{
    display: flex;
    gap:51px;
    text-align: center;
}

.gallery-images h4{
    color: #9370DB;
}

.gallery-images p{
    color: #5a5a5a;
}

.enroll{
    background-image: url("images/learnMore.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 13vh;
    width: 100%;
    margin-top: 60px;
    display: flex;
    gap:18%;
    justify-content: center;
    padding-top:40px;
    color: #fff;
}

.enroll button{
    height: 40px;
    width: 150px;
    background: transparent;
    border: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
}

.enroll button:hover{
    color: #9370DB;
    background:white;
    transition: 0.3s ease-in-out;
}

.enroll button a{
    text-decoration: none;
}

    .ending-details{
        height: 50vh;
        margin-top: 10px;
        background: gainsboro;
    }

    .ending-detailsContent{
        width: 75%;
        margin: 0 auto;
        display: flex;
        gap: 80px;
        padding: 70px;
    }

    .ending-detailsContent p{
        color: #656765;
    }

    .ending-detailsContent li{
        list-style: none;
        margin-bottom: 20px;
    }

    .ending-detailsContent li a{
        text-decoration: none;
        color:#656765;
    }

    .ending-detailsContent li a:hover{
        color:#fff;
        transition: 0.2s ease-in-out;
    }

    .ending-detailsContent h4{
        color: #fff;
    }

    .ending-detailsContent input{
        border: none;
        border-bottom: 1px solid #656765;
        padding-bottom: 6px;
        background: transparent;
    }

    .ending-detailsContent .submit-button{
        margin-top: 10px;
        border: none;
        border: 1px solid aqua;
        width: 200px;
        height: 50px;
        background: transparent;
        color: #fff;
    }

    .ending-detailsContent .submit-button:hover{
        border: none;
        background: #9370DB;
        color:#fff;
        transition: 0.3s ease-in-out;
      }

    .accordion{
        width: 100%;
       }

    .accordion-item{
        background: none !important;
        border: none !important;
        color: #656765 !important;
    }

    .accordion-button{
        background: none !important;
        border: none !important;
        color: #656765 !important;
    }

    .accordion-button:focus{
        color: #fff !important;
    }

    .allrightsreserved{
        background: #212529;
        height: 7vh;
        color: #E6E6E6;
    }

    .allrights-content{
        width: 75%;
        margin: 0 auto; 
        padding-top:20px;
    }

    .allrights-content div{
        display: flex;
        gap: 4px;
    } 

        /* desktop screens resolution 1234 x 650 */
    @media screen and (width: 1234px) and (height: 650px) {
        .Gallery{
            background: url("images/markus-spiske-6dY9cFY-qTo-unsplash.jpg");
            background-position:center;
            background-size:contain;
            justify-content: center;
            text-align: center;
            height: 22vh;
            color: #fff;
            padding-top:75px;
        }

        .gallery-section{
            width:80%;
        }

        .enroll{
            padding-top: 20px;
        }

        .ending-details{
            height: 60vh;
        }

        .ending-detailsContent{
            width: 95%;
            gap: 30px;
        }
    }

   /* desktop screen resolution 1280px x 1024px */
        @media screen and (width: 1280px) and (height: 1024px) {
        .gallery-section{
            width: 74%;
        }

        .enroll{
            padding-top: 30px;
            height: 10vh;
        }

        .ending-details{
            height: 50vh;
        }

        .ending-detailsContent{
            width: 95%;
            gap: 80px;
        }
    }

    /* desktop screens resolution 1366 x 768 */
    @media screen and (width: 1366px) and (height: 768px) {
        .Gallery{
            background: url("markus-spiske-6dY9cFY-qTo-unsplash.jpg");
            background-position:center;
            background-size:contain;
            justify-content: center;
            text-align: center;
            height: 19vh;
            color: #fff;
            padding-top:75px;
        }

        .gallery-section{
            width: 74%;
        }

        .enroll{
            padding-top: 30px;
        }

        .ending-details{
            height: 60vh;
        }

        .ending-detailsContent{
            width: 95%;
            gap: 80px;
        }
    }

        /* desktop screens resolution 1920 x 1080 */
    @media screen and (width: 1920px) and (height: 1080px) {
        .navbar-brand{
            font-size: 25px;
        }

        .nav-item{
            font-size: 25px;
        }

        .Gallery h2{
            font-size: 43px;
        }

        .Gallery h5{
            font-size: 25px;
        }

        .gallery-images img{
            width: 550px;
        }

        .enroll{
            padding-top: 30px;
            height: 11vh;
        }

        .enroll h2{
            font-size: 43px;
        }

        .enroll button{
            height: 60px;
            width: 170px;
        }

        .ending-details{
            height: 40vh;
        }

        .ending-detailsContent{
            width: 97%;
            gap: 180px ;	
        } 

        .ending-detailsContent h1{
            font-size: 53px;
        }

        .ending-detailsContent h4{
            font-size: 33px;
        }

        .ending-detailsContent p{
            font-size: 24px;
        }

        .ending-detailsContent .submit-button{
            width: 300px;
            height: 70px;
            font-size: 25px;
        }

        .ending-detailsContent input{
            width: 300px;
            font-size: 25px;
        }  
    }

        /* desktop screens resolution 1440 x 900 */
    @media screen and (width: 1440px) and (height: 900px) {
        .navbar-brand{
            font-size: 20px;
        }

        .nav-item{
            font-size: 20px;
        }

        .Gallery{
            height: 17vh;
        }

        .gallery-section{
            width: 70%;
        }

        .ending-details{
            height: 40vh;
        }

        .ending-detailsContent{
            width: 95%;
            gap: 80px;
        }
    }

     /* desktop screens resolution 1024 x 768 */
     @media screen and (width: 1024px) and (height: 768px) {
        .Gallery{
            height: 17vh;
            padding-top: 60px;
        }

        .gallery-section{
            width: 75%;
        }

        .gallery-images img{
            width: 350px !important;
        }

        .enroll{
            height: 11vh;
            padding-top:25px;
        }

        .ending-details{
            height: 60vh;
        }
    
        .ending-detailsContent{
            width: 100%;
            gap: 30px;
        }
     }

    /* mobile screens resolution(iphoneXR) 414 x 896 */

    .navbar-toggler{
        position: relative;
        left: 80%;
        bottom: 30px;
    }

    .Gallery{
        height: 20vh;
        padding-top: 105px;
    }

    .Gallery h5{
        font-size: 14px;
    }

    .gallery-images img{
        width: 350px;
    }

    .gallery-images{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .enroll{
        height: 20vh;
        display: flex;
		flex-direction: column;
		align-items: center;
        font-size: 10px !important;
        padding-bottom: 40px;
    }

    .enroll button{
        width: 240px;
    }

    .ending-details{
        height: 150vh;
    }

    .ending-detailsContent{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .accordion{
        font-size: 12px !important;
    }

    .accordion-button{
        font-size: 15px !important;
    }

    .allrights-content{
        font-size: 10px;
    }

    .allrights-content span{
        font-size: 13px;
    }
}

/* mobile screens resolution(iphone12pro) 390 x 844 */

    .navbar-toggler{
        position: relative;
        left: 80%;
        bottom: 30px;
    }

    .Gallery{
        height: 20vh;
        padding-top: 105px;
    }

    .Gallery h5{
        font-size: 14px;
    }

    .gallery-images img{
        width: 340px;
    }

    .gallery-images{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .enroll{
        height: 20vh;
        display: flex;
		flex-direction: column;
		align-items: center;
        font-size: 10px !important;
        padding-bottom: 40px;
    }

    .enroll h2{
        font-size: 22px;
    }

    .enroll button{
        width: 240px;
    }

    .ending-details{
        height: 160vh;
    }

    .ending-detailsContent{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .accordion{
        font-size: 11px !important;
    }

    .accordion-button{
        font-size: 14px !important;
    }

    .allrights-content{
        font-size: 10px;
    }

    .allrights-content span{
        font-size: 13px;
    }
}

/* mobile screens resolution(iphone14promax) 430 x 932 */

    .navbar-toggler{
        position: relative;
        left: 80%;
        bottom: 30px;
    }

    .Gallery{
        height: 18vh;
        padding-top: 105px;
    }

    .Gallery h5{
        font-size: 14px;
    }

    .gallery-images img{
        width: 340px;
    }

    .gallery-images{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .enroll{
        height: 20vh;
        display: flex;
		flex-direction: column;
		align-items: center;
        font-size: 10px !important;
        padding-bottom: 40px;
    }

    .enroll h2{
        font-size: 22px;
    }

    .enroll button{
        width: 240px;
    }

    .ending-details{
        height: 140vh;
    }

    .ending-detailsContent{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .accordion{
        font-size: 12px !important;
    }

    .accordion-button{
        font-size: 15px !important;
    }

    .allrights-content{
        font-size: 12px;
    }

    .allrights-content span{
        font-size: 14px;
    }
}

/* mobile screens resolution(pixel7) 412 x 915 */

    .navbar-toggler{
        position: relative;
        left: 80%;
        bottom: 30px;
    }

    .Gallery{
        height: 18vh;
        padding-top: 105px;
    }

    .Gallery h5{
        font-size: 14px;
    }

    .gallery-images img{
        width: 340px;
    }

    .gallery-images{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .enroll{
        height: 20vh;
        display: flex;
		flex-direction: column;
		align-items: center;
        font-size: 10px !important;
        padding-bottom: 40px;
    }

    .enroll h2{
        font-size: 22px;
    }

    .enroll button{
        width: 240px;
    }

    .ending-details{
        height: 145vh;
    }

    .ending-detailsContent{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .accordion{
        font-size: 11px !important;
    }

    .accordion-button{
        font-size: 15px !important;
    }

    .allrights-content{
        font-size: 12px;
    }

    .allrights-content span{
        font-size: 14px;
    }
}

/* mobile screens resolution(samsung galaxy s8+) 360 x 740 */

    .navbar-toggler{
        position: relative;
        left: 80%;
        bottom: 30px;
    }

    .Gallery{
        height: 24vh;
        padding-top: 105px;
    }

    .Gallery h5{
        font-size: 14px;
    }

    .gallery-images img{
        width: 300px;
    }

    .gallery-images{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .enroll{
        height: 20vh;
        display: flex;
		flex-direction: column;
		align-items: center;
        font-size: 10px !important;
        padding-bottom: 40px;
    }

    .enroll h2{
        font-size: 20px;
    }

    .enroll button{
        width: 240px;
    }

    .ending-details{
        height: 190vh;
    }

    .ending-detailsContent{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .accordion{
        font-size: 11px !important;
    }

    .accordion-button{
        font-size: 14px !important;
    }

    .allrights-content{
        font-size: 10px;
    }

    .allrights-content span{
        font-size: 13px;
    }
}

/* mobile screens resolution(iphone6/7/8) 375 x 667 */

    .navbar-toggler{
        position: relative;
        left: 80%;
        bottom: 30px;
    }

    .Gallery{
        height: 24vh;
        padding-top: 105px;
    }

    .Gallery h5{
        font-size: 14px;
    }

    .gallery-images img{
        width: 300px;
    }

    .gallery-images{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .enroll{
        height: 20vh;
        display: flex;
		flex-direction: column;
		align-items: center;
        font-size: 10px !important;
        padding-bottom: 40px;
    }

    .enroll h2{
        font-size: 20px;
    }

    .enroll button{
        width: 240px;
    }

    .ending-details{
        height: 210vh;
    }

    .ending-detailsContent{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .accordion{
        font-size: 11px !important;
    }

    .accordion-button{
        font-size: 14px !important;
    }

    .allrights-content{
        font-size: 10px;
    }

    .allrights-content span{
        font-size: 13px;
    }
}

/* mobile screens resolution(iphone6/7/8 +) 414 x 736 */

    .navbar-toggler{
        position: relative;
        left: 80%;
        bottom: 30px;
    }

    .Gallery{
        height: 22vh;
        padding-top: 105px;
    }

    .Gallery h5{
        font-size: 14px;
    }

    .gallery-images img{
        width: 340px;
    }

    .gallery-images{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .enroll{
        height: 20vh;
        display: flex;
		flex-direction: column;
		align-items: center;
        font-size: 10px !important;
        padding-bottom: 40px;
    }

    .enroll h2{
        font-size: 22px;
    }

    .enroll button{
        width: 240px;
    }

    .ending-details{
        height: 180vh;
    }

    .ending-detailsContent{
        display: flex;
		flex-direction: column;
		align-items: center;
    }

    .accordion{
        font-size: 11px !important;
    }

    .accordion-button{
        font-size: 14px !important;
    }

    .allrights-content{
        font-size: 10px;
    }

    .allrights-content span{
        font-size: 13px;
    }
}